<!doctype html>
<html lang="fi">
    <head>
        <meta charset="utf-8">
        <title>Hello World!</title>
        <link href="/css/styles.css" type="text/css" rel="stylesheet">
    </head>
    <body>
        <!--Tähän tyyliin voi kommentoida-->
        <p>Hello earth habitants!</p>
        <div class="mun_keksima">terve</div>
        <div class="fancy"> taas</div>
        
        <p id="joku_tyyli">Tadaa Id tyyliä pukkaa</p>
        <input type="text" placeholder="Kirjoita tähän"/>
        <script src="/controllers/scripts.js" > </script>
    </body>
</html>